.title {
  composes: common from "common.module.css";
  font-size: 20px;
  color: #710000;
}

.list-title{
  color: #004000;
  font-weight: bold;
}

.digital{
  padding: 5px 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: -1px -1px 9px #bbbbbb;;
}